/* src/styles/font.scss */
@use './color' as color;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  color: color.$text-main;
  background-color: color.$background;
}
